parameters:
  level: max

  parallel:
    maximumNumberOfProcesses: 1
    processTimeout: 200.0

  paths:
    - src
    - tests

  scanFiles:
    - %currentWorkingDirectory%/vendor/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php

  checkAlwaysTrueCheckTypeFunctionCall: true
  checkAlwaysTrueInstanceof: true
  checkAlwaysTrueStrictComparison: true
  checkBenevolentUnionTypes: true
  checkDynamicProperties: true
  checkExplicitMixedMissingReturn: true
  checkFunctionNameCase: true
  checkGenericClassInNonGenericObjectType: false
  checkImplicitMixed: false
  checkInternalClassCaseSensitivity: true
  checkMissingCallableSignature: true
  checkMissingIterableValueType: false
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  checkUninitializedProperties: true
  inferPrivatePropertyTypeFromConstructor: false
  polluteScopeWithAlwaysIterableForeach: false
  polluteScopeWithLoopInitialAssignments: false
# reportAlwaysTrueInLastCondition: true
  reportMaybesInMethodSignatures: false
  reportMaybesInPropertyPhpDocTypes: false
  reportStaticMethodSignatures: true
# reportWrongPhpDocTypeInVarTag: true
  treatPhpDocTypesAsCertain: false

  tipsOfTheDay: false

  exceptions:
    implicitThrows: false
    checkedExceptionRegexes:
      - '#Exception#'
      - '#Throwable#'
    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true

  ignoreErrors:
#    - '~PHPDoc tag @throws with type .* is not compatible with parent~'
    - '~is not subtype of Throwable~'
    - '~Call to static method PHPUnit\\Framework\\Assert::assert.*\(\) with .* will always evaluate to true~'
